
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Torrent Sites aggregator in Python</title>
	{% load static %}
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}" type="text/css">
</head>
<body>
	<div class="container">
	<h1>What ya lookin for?</h1>
	<form id="index" method="get" action="/search">
		<div  class="form-group" style="position:relative;">
			<input id="input-search" type="text" name="query" placeholder="Type a movie name here to search torrents">
		</div>
		<div class="form-group" >
		<span class="my-label">Video Quality :</span>
		<ul>
            <li>
                <div class="my-radio">
                     <label>
                        <input type="radio" name="quality" value="" checked="checked">
                        <p class="fa">All</p>
                    </label>
                </div>
             </li>
              <li>
                <div class="my-radio">
                     <label>
                        <input type="radio" name="quality" value="720p">
                        <p class="fa">720p</p>
                    </label>
                </div>
             </li>
             <li>
                <div class="my-radio">
                     <label>
                        <input type="radio" name="quality" value="1080p">
                        <p class="fa">1080p</p>
                    </label>
                </div>
             </li>
     </ul>
     </div>
		<center><input type="submit" class="btn btn-primary"></center>
	</form>
	</div>
    <div class="spinner-mask">
          <div class="spinner-loader" >
    </div>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/index.js'%}"></script>
</html>
